<div style="text-align:center">
  <h1><%= @ingredient.name %></h1>
</div>
<!-- recipe list -->
<div class="well">
  <ul style="list-style: none;">
    <% @ingredient.recipes.each() do |recipe| %>
      <li color="black"><a href="/recipes/<%= recipe.id() %>"><%= recipe.title %></a></li>
      <br>
    <% end %>
  </ul>
</div>
